In [1]:
import pandas as pd
import numpy as np

## Pandas Series

A Pandas Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.

In [2]:
obj = pd.Series(np.array([4, 7, -5, 3]))
print(obj) # (注意int dtype of numpy in win64 預設為 int32)
print('*****************************')
print(obj.index)
print(obj.values) # array
print(obj.values[1])

0    4
1    7
2   -5
3    3
dtype: int32
*****************************
RangeIndex(start=0, stop=4, step=1)
[ 4  7 -5  3]
7

In [3]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'a', 'c', 'b'])
print(obj2)
print('*****************************')
print(obj2.index)
print(obj2.index[2]) # https://www.kaggle.com/general/188478

d    4
a    7
c   -5
b    3
dtype: int64
*****************************
Index(['d', 'a', 'c', 'b'], dtype='object')
c

In [4]:
obj2['a'] # indexing

7

In [5]:
obj2[1] # indexing

7

In [6]:
obj2[['c', 'a', 'd']] # list as index

c   -5
a    7
d    4
dtype: int64

In [7]:
print(obj2)

d    4
a    7
c   -5
b    3
dtype: int64

In [8]:
obj2[[2, 1, 0]]

c   -5
a    7
d    4
dtype: int64

In [9]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} # pandas series from dict
obj3 = pd.Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [10]:
states = [ 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states) # dtype int64 # rearrange
print(obj4)

Ohio      35000
Oregon    16000
Texas     71000
dtype: int64

In [11]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states) # 注意dtype float64 for NaN
print(obj4)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [12]:
obj4 == np.nan # nan != nan

California    False
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [13]:
obj4 == obj4

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [14]:
print(obj4.isnull())
print(obj4.notnull())

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [15]:
print(obj3)
print(obj4)
print(obj3 + obj4)  # 注意dtype float64

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [16]:
obj4.name = 'population'
obj4.index.name = 'state'
print(obj4)

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [17]:
print(obj)

0    4
1    7
2   -5
3    3
dtype: int32

In [18]:
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan'] # assign new index
print(obj)

0    4
1    7
2   -5
3    3
dtype: int32
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int32

In [19]:
print(obj4)
obj4.index = ['Bob', 'Steve', 'Jeff', 'Ryan'] # assign new index
print(obj4)

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64
Bob          NaN
Steve    35000.0
Jeff     16000.0
Ryan     71000.0
Name: population, dtype: float64

## DataFrame

A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.).

In [20]:
np_array = np.array([10, 20])
df = pd.Series(data=np_array, index=["row1", "row2"])
print(df)

row1    10
row2    20
dtype: int32

In [21]:
np.array([[10], [20]])

array([[10],
       [20]])

In [22]:
np_array = np.array([[10], [20]]) # 2 rows 1 cols
df = pd.DataFrame(data=np_array, index=["row1", "row2"], columns=["col1"])
print(df)

      col1
row1    10
row2    20

In [24]:
np_array = np.array([[10, 20], [30, 40]])
df = pd.DataFrame(data=np_array, index=["row1", "row2"], columns=["col1", "col2"])
df

      col1  col2
row1    10    20
row2    30    40

In [25]:
df.name = 'test'
df

      col1  col2
row1    10    20
row2    30    40

In [28]:
import pandas as pd
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data) # data: dict
print(frame)  # key: columns

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [29]:
frame.columns=['A', 'B', 'C'] # assign new columns' name
frame

        A     B    C
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [30]:
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [31]:
pd.DataFrame(data, columns=['year', 'state', 'pop']) # rearrange columns

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [32]:
# u pass a column that isn’t contained in the dict,
# it will appear with missing values

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                     index=['one', 'two', 'three', 'four', 'five', 'six'])

print(frame2)
print('*******************')
print(frame2.columns)
frame2.columns[0]

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
*******************
Index(['year', 'state', 'pop', 'debt'], dtype='object')

'year'

In [33]:
## Columns can be retrieved by
print(frame2['state']) # frame2.state
print('*******************')
print(frame2.year) # pd.Series

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
*******************
one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [34]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [35]:
# Rows can also be retrieved by loc or iloc
# position or name with the special loc attribute
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [36]:
frame2.iloc[2]

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [37]:
print(frame2)
print('***************')
frame2['debt'] = 16.5
print(frame2)
print('***************')
frame2['debt'] = np.arange(6.) # assign an array to a column
print(frame2)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
***************
       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5
***************
       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [38]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
print(val)
frame2['debt'] = val
print(frame2) # Assign a pd.Series to a column

two    -1.2
four   -1.5
five   -1.7
dtype: float64
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [39]:
# Assigning a column that doesn’t exist will create a new column.
# The del keyword will delete columns as with a dict.
# As an example of del, I first add a new column of boolean
# values where the state column equals 'Ohio':
print(frame2['state'])
print(frame2['state'] == 'Ohio') # a boolean Series
print('***************')
print(frame2)
frame2['eastern'] = frame2['state'] == 'Ohio' # assign a boolean Series to a column
print(frame2)
print('***************')
del frame2['eastern'] # delete a column
frame2

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
one       True
two       True
three     True
four     False
five     False
six      False
Name: state, dtype: bool
***************
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False
***************

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [43]:
# another way is a nested dict of dicts
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

# If the nested dict is passed to the DataFrame,
# pandas will interpret the outer dict keys
# as the columns and the inner keys as the row indices

frame3 = pd.DataFrame(pop)
print(frame3)

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [41]:
# transpose dataframe
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [42]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
print(frame3)

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [52]:
#Excercise 0

#1. Create dataframe df1 from lst:
lst = [['Geek', 25], ['is', 30],
    ['for', 26], ['Geeksforgeeks', 22]]
column_title = ['Tag', 'number']
index_title =['N_1', 'N_2', 'N_3', 'N_4']

df1 = pd.DataFrame(lst, columns = column_title, index = index_title)
#df1

#2. Create dataframe df1 from a dictionary with inner and outer keys
dic_test = {"Tag":["N_1":'Geek', "N_2":'is', "N_3":"for", "N_4":"Geeksforgeeks"], "number": ["N_1":25, "N_2":30, "N_3":26, "N_4":22]}
df2 = pd.DataFrame(dic_test)
df2

SyntaxError: invalid syntax (2613949031.py, line 13)

## Using the axis parameter

1) axis = 0 => row
    * Move across/down the row axis
    * Direction of operation is down

2) axis = 1 => column
    * Move along the column axis
    * Direction of operation is sideways

In [53]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [54]:
# dropping a column

drinks.drop('continent', axis=1).head() # head(): first 5 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [55]:
drinks.drop('continent').head() # head(): first 5 rows # default axis=0

KeyError: "['continent'] not found in axis"

In [56]:
# dropping a row
drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [57]:
drinks.drop(2).head() # default axis=0

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [58]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [59]:
# default axis=0, 結果是一 row Series
# mean of each column

drinks.mean() # pd.Series  預設 axis = 0

C:\Users\LEGION\AppData\Local\Temp\ipykernel_8912\759478357.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  drinks.mean() # pd.Series  預設 axis = 0

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [60]:
# mean of each row, 結果是column Series (axis=1)

drinks.mean(axis=1) # pd.Series

C:\Users\LEGION\AppData\Local\Temp\ipykernel_8912\2906876062.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  drinks.mean(axis=1) # pd.Series

0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
        ...
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
Length: 193, dtype: float64

## Essesntial Functionality

### Reindexing

An important method on pandas objects is **reindex**, which means to create a new object with the data conformed to a new index

In [61]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)

obj.index = ['a', 'b', 'c', 'd'] # Assign new indexes
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a    4.5
b    7.2
c   -5.3
d    3.6
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling of values when reindexing. The **method** option allows us to do this, using a
method such as **ffill**, which forward-fills the values

In [62]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)

obj.reindex(['a', 'b', 'c', 'd']) # Re-arrange new indexes

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [63]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [65]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)

obj3.reindex(range(6)) # rearrange

0      blue
2    purple
4    yellow
dtype: object

0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

In [66]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)

obj3.reindex(range(6), method='ffill')

0      blue
2    purple
4    yellow
dtype: object

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [68]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame.index.name = 'letters'
frame

         Ohio  Texas  California
letters
a           0      1           2
c           3      4           5
d           6      7           8

In [69]:
frame.reindex(['a', 'b', 'c', 'd'])

         Ohio  Texas  California
letters
a         0.0    1.0         2.0
b         NaN    NaN         NaN
c         3.0    4.0         5.0
d         6.0    7.0         8.0

In [70]:
# The columns can be reindexed with the columns keyword:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

         Texas  Utah  California
letters
a            1   NaN           2
c            4   NaN           5
d            7   NaN           8

In [71]:
frame

         Ohio  Texas  California
letters
a           0      1           2
c           3      4           5
d           6      7           8

In [ ]:
frame.reindex(['a', 'b', 'c', 'd'], columns=states)

         Texas  Utah  California
letters
a          1.0   NaN         2.0
b          NaN   NaN         NaN
c          4.0   NaN         5.0
d          7.0   NaN         8.0

In [72]:
frame.reindex(['a', 'b', 'c', 'd'], columns=states, fill_value=0.)

         Texas  Utah  California
letters
a          1.0   0.0         2.0
b          0.0   0.0         0.0
c          4.0   0.0         5.0
d          7.0   0.0         8.0

### Dropping Entries from an axis

**drop** method will return a new object with the indicated value or values deleted from an axis

In [73]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [74]:
new_obj = obj.drop('c')
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [75]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [76]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

With DataFrame, index values can be deleted from either axis

In [77]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
# Calling drop with a sequence of labels will
# drop values from the row labels (axis 0) default:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [78]:
# drop values from columns: pass axis=1 or axis='columns'

data1 = data.drop(['two', 'four'], axis=1)
data1

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [79]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [80]:
data.drop(['Colorado', 'Ohio'], inplace=True) # inplace=True
data.drop(['two', 'four'], axis=1, inplace=True)
data

          one  three
Utah        8     10
New York   12     14

In [86]:
data = pd.DataFrame(np.arange(15).reshape((3, 5)), index=['Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four', 'five'])
data

          one  two  three  four  five
Colorado    0    1      2     3     4
Utah        5    6      7     8     9
New York   10   11     12    13    14

In [81]:
print(obj)
obj.drop('c', inplace=True)
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [106]:
#Excercise 0
import random

#Create dataframe df1 from lst:(同上)
df1 = pd.DataFrame(np.arange(12).reshape(3,4))


#3. df1 reindex: index = ['N_1', 'N_3', 'N_2', 'N_5'], columns = ['number', 'Tag', 'New_Tag']
df2 = df1.reindex(index = ['N_1', 'N_3', 'N_2', 'N_5'], columns = ['number', 'Tag', 'New_Tag'], fill_value = random.randint(1, 120))
df2
#4. drop a row, inplace = True or False
df3 = df2.drop(labels = "N_1", axis = 0, inplace = False)
df3
#5. drop a column, inplace = True or False
df4 = df3.drop(labels = "New_Tag", axis = 1, inplace = False)
df4

     number  Tag
N_3     116  116
N_2     116  116
N_5     116  116

### Indexing, Selection, and Filtering

#### indexing

Series indexing (obj[...]) works analogously to NumPy array indexing, except you can use the Series’s index values instead of only integers.

In [107]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [109]:
print(obj['b'])
print(obj[1])
print(obj[2:])
print(obj[['b', 'a', 'd']])
print(obj[[1, 3]])

1.0
1.0
c    2.0
d    3.0
dtype: float64
b    1.0
a    0.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64

In [110]:
print(obj < 2) # boolean pd.Series

a     True
b     True
c    False
d    False
dtype: bool

In [111]:
print(obj[obj < 2]) # filtering

a    0.0
b    1.0
dtype: float64

Slicing with labels behaves differently than normal Python slicing in that the **end‐point is inclusive**

In [112]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [113]:
obj[1:2]

b    1.0
dtype: float64

Indexing into a DataFrame is for retrieving one or more columns either with a single value or sequence

In [114]:
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [115]:
print(data['two']) # pd.Series
print(data[['three', 'four']]) # pd.DataFrame
print(data[['two']])

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32
          three  four
Ohio          2     3
Colorado      6     7
Utah         10    11
New York     14    15
          two
Ohio        1
Colorado    5
Utah        9
New York   13

The row selection syntax **data[:2]** is provided as a convenience.

In [116]:
data[:2] # like array

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [117]:
data['Ohio'] # error

KeyError: 'Ohio'

In [118]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [119]:
data['three'] > 5

Ohio        False
Colorado     True
Utah         True
New York     True
Name: three, dtype: bool

In [120]:
import pandas as pd
data['three'][data['three'] > 5]

Colorado     6
Utah        10
New York    14
Name: three, dtype: int32

In [121]:
data[data['three'] > 5] #  rows

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [122]:
data[data['three'] > 5]['four']

Colorado     7
Utah        11
New York    15
Name: four, dtype: int32

In [123]:
data > 5

            one    two  three   four
Ohio      False  False  False  False
Colorado  False  False   True   True
Utah       True   True   True   True
New York   True   True   True   True

In [124]:
data[data > 5]

           one   two  three  four
Ohio       NaN   NaN    NaN   NaN
Colorado   NaN   NaN    6.0   7.0
Utah       8.0   9.0   10.0  11.0
New York  12.0  13.0   14.0  15.0

In [125]:
np.NaN == np.NaN

False

In [127]:
s = pd.Series([1., np.nan, 2.])
print(s != np.nan)
s[s != np.nan]  # Nan cannot be filtered by (s != np.nan)

0    True
1    True
2    True
dtype: bool

0    1.0
1    NaN
2    2.0
dtype: float64

In [128]:
s = pd.Series([1., np.nan, 2.]) # Nan cannot be filtered by (s != np.nan)
s.notnull()

0     True
1    False
2     True
dtype: bool

In [129]:
s = pd.Series([1., np.nan, 2.])
s[s.notnull()]

0    1.0
2    2.0
dtype: float64

In [131]:
s = pd.Series([1., np.nan, 2.])
s == s

0     True
1    False
2     True
dtype: bool

In [132]:
s = pd.Series([1., np.nan, 2.])
s[s == s]

0    1.0
2    2.0
dtype: float64

#### setting
Setting using these methods modifies the corresponding section of the Series

In [133]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [134]:
obj['b': 'c'] = 5
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [135]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [136]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [137]:
data[data < 5]

          one  two  three  four
Ohio      0.0  1.0    2.0   3.0
Colorado  4.0  NaN    NaN   NaN
Utah      NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN

In [138]:
data[data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

#### Selection with loc, iloc

For DataFrame label-indexing on the rows, I introduce the special indexing operators loc and iloc. They enable you to select a subset of the rows and columns from a DataFrame with NumPy-like notation using either axis labels (loc) or integers (iloc).

In [ ]:
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [139]:
#  select a single row and multiple columns by label
# loc[Row, col] 取交集
data.loc['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int32

In [140]:
# with integers using iloc
data.iloc[1, [1, 2]]

two      5
three    6
Name: Colorado, dtype: int32

In [141]:
print(data.iloc[2]) # select a single row or data.loc['Utah']
print(data.iloc[[1, 2], [3, 0, 1]]) #  select multiple rows and multiple columns by integer

one       8
two       9
three    10
four     11
Name: Utah, dtype: int32
          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [143]:
print(data)
print(data.loc[:'Utah', 'two']) #  select multiple rows and a single column by label

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int32

In [ ]:
print(data)
print(data.loc[:'Utah', :'two']) #  select multiple rows and multiple columns by label

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two
Ohio        0    0
Colorado    0    5
Utah        8    9

In [144]:
data.iloc[:, :3] #  select multiple rows and multiple columns by integer

          one  two  three
Ohio        0    0      0
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [145]:
data[data['three'] > 5]

          one  two  three  four
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [146]:
data.iloc[:, :3]

          one  two  three
Ohio        0    0      0
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [148]:
data.iloc[:, :3][data['three'] > 5] # dataframe data.iloc[:, :3] with a filter [data['three'] > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [149]:
data.iloc[:, :3][data.three > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [150]:
data.iloc[:, :3][data > 5]

           one   two  three
Ohio       NaN   NaN    NaN
Colorado   NaN   NaN    6.0
Utah       8.0   9.0   10.0
New York  12.0  13.0   14.0

In [151]:
data1 = data.iloc[:2, :3]
data1[data.three > 5]

C:\Users\LEGION\AppData\Local\Temp\ipykernel_8912\225763335.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data1[data.three > 5]

          one  two  three
Colorado    0    5      6

In [ ]:
# Exercise 1a

# Read scores.csv # dfstud = pd.read_csv('/content/drive/MyDrive/Datascience/scores.csv',index_col=0)

# 共幾個 學員成績 ?

# 找出 前面三個 的學員所有科目成績

# 找出 後面兩個 的學員所有科目成績

# 找出 ID 'a','b','c' 的學員國文英文科目成績

In [152]:
# hint: pd.read_csv
# need to link to Google Colab

from google.colab import drive
drive.mount('/content/drive')

dfstud = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/scores.csv", index_col=0)
dfstud

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
dfstud.to_excel('/content/scoresToExcelOut.xlsx')
dfstud.to_csv('/content/scoresToCsvOut.csv')

### Arithmetic and Data Alignment

An important pandas feature for some applications is the behavior of arithmetic
between objects with different indexes. When you are adding together objects, if any index pairs are not the same,
the respective index in the result will be the union of the index pairs.
For users with database experience, this is similar to an automatic outer join on the index labels.

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
print(s1)
print(s2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [ ]:
s1 + s2 # index in the result will be the union of the index pairs

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In the case of DataFrame, alignment is performed on both the rows and the columns

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
print(df1)
print(df2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [ ]:
df1 + df2 # index(column) in the result will be the union of the index(column) pairs

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
print(df1)
print(df2)

   A
0  1
1  2
   B
0  3
1  4

In [ ]:
df1 - df2 # df1 + (-df2) # index(column) in the result will be the union of the index(column) pairs

    A   B
0 NaN NaN
1 NaN NaN

In arithmetic operations between differently indexed objects, you might want to fill
with a special value, like 0, when an axis label is found in one object but not the other

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list("abcd"))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))

In [ ]:
print(df1)
print(df2)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
df2.loc[1, 'b'] = np.nan

In [ ]:
print(df1)
print(df2)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
# Adding these together results in NA values in the locations that don’t overlap
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [ ]:
# Using the add method on df1,one pass df2 and an argument to fill_value before add
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
df1.div(1)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [ ]:
# 1 / df1
# or
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [ ]:
# operations between DataFrame and Series
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                    index=("utah", "ohio", "texas", "oregon"))
series = frame.iloc[0] # a row or a column is a Series
print(frame)
print(series)

          b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0
b    0.0
d    1.0
e    2.0
Name: utah, dtype: float64

By default, arithmetic between DataFrame and Series matches the index of the Series
on the DataFrame’s columns, broadcasting down the rows

In [ ]:
frame - series # broadcasting down the rows

          b    d    e
utah    0.0  0.0  0.0
ohio    3.0  3.0  3.0
texas   6.0  6.0  6.0
oregon  9.0  9.0  9.0

In [ ]:
frame.sub(series)

          b    d    e
utah    0.0  0.0  0.0
ohio    3.0  3.0  3.0
texas   6.0  6.0  6.0
oregon  9.0  9.0  9.0

In [ ]:
frame.sub(series, axis=1) # axis=columns, series's index matchs df's columns

          b    d    e
utah    0.0  0.0  0.0
ohio    3.0  3.0  3.0
texas   6.0  6.0  6.0
oregon  9.0  9.0  9.0

In [ ]:
frame.sub(series, axis=0)

         b   d   e
b      NaN NaN NaN
d      NaN NaN NaN
e      NaN NaN NaN
ohio   NaN NaN NaN
oregon NaN NaN NaN
texas  NaN NaN NaN
utah   NaN NaN NaN

If an index value is not found in either the DataFrame’s columns or the Series’s index,
the objects will be reindexed to form the union

In [ ]:
series2 = pd.Series(range(3), index=list('bef'))

In [ ]:
print(series2)

b    0
e    1
f    2
dtype: int64

In [ ]:
print(frame)

          b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0

In [ ]:
frame + series2 # series index matches the columns, broadcasting down the rows

          b   d     e   f
utah    0.0 NaN   3.0 NaN
ohio    3.0 NaN   6.0 NaN
texas   6.0 NaN   9.0 NaN
oregon  9.0 NaN  12.0 NaN

In [ ]:
print(frame)

          b     d     e
utah    0.0   1.0   2.0
ohio    3.0   4.0   5.0
texas   6.0   7.0   8.0
oregon  9.0  10.0  11.0

In [ ]:
# broadcasting over columns
series3 = frame['d']
series3

utah       1.0
ohio       4.0
texas      7.0
oregon    10.0
Name: d, dtype: float64

In [ ]:
frame.sub(series3, axis='index') # axis=0, match axis -> index

          b    d    e
utah   -1.0  0.0  1.0
ohio   -1.0  0.0  1.0
texas  -1.0  0.0  1.0
oregon -1.0  0.0  1.0

In [ ]:
frame.sub(series3, axis=0) # match axis=0

          b    d    e
utah   -1.0  0.0  1.0
ohio   -1.0  0.0  1.0
texas  -1.0  0.0  1.0
oregon -1.0  0.0  1.0

The axis number that you pass is the axis to match on. In this case we mean to match
on the DataFrame’s row index (axis='index' or axis=0) and broadcast across.

### Function Application and Mapping

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                    index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    0.987992  0.317681 -0.129566
Ohio   -0.815257 -0.159485 -0.254120
Texas   1.209640 -0.661934  0.720244
Oregon  0.632867 -0.221788 -0.052001

In [ ]:
np.abs(frame)

               b         d         e
Utah    0.987992  0.317681  0.129566
Ohio    0.815257  0.159485  0.254120
Texas   1.209640  0.661934  0.720244
Oregon  0.632867  0.221788  0.052001

In [ ]:
frame

               b         d         e
Utah    0.987992  0.317681 -0.129566
Ohio   -0.815257 -0.159485 -0.254120
Texas   1.209640 -0.661934  0.720244
Oregon  0.632867 -0.221788 -0.052001

In [ ]:
# Another frequent operation is applying a function on
# one-dimensional arrays to each column or row.
# DataFrame’s apply method does exactly this

f = lambda x: x.max() - x.min()
frame.apply(f) # 預設 axis=0 -> axis=row # axis=0, apply to a column

b    2.024897
d    0.979615
e    0.974364
dtype: float64

In [ ]:
frame.apply(f,axis=0) # 結果是row

b    2.024897
d    0.979615
e    0.974364
dtype: float64

In [ ]:
frame.apply(f,axis='rows')

b    2.024897
d    0.979615
e    0.974364
dtype: float64

Here the function f, which computes the difference between the maximum and minimum of a Series, is **invoked once on each column** in frame. The result is a Series having the columns of frame as its index.

In [ ]:
frame

               b         d         e
Utah    0.987992  0.317681 -0.129566
Ohio   -0.815257 -0.159485 -0.254120
Texas   1.209640 -0.661934  0.720244
Oregon  0.632867 -0.221788 -0.052001

In [ ]:
# If you pass axis='columns' to apply,
# the function will be invoked once per row
f = lambda x: x.max() - x.min()

frame.apply(f, axis='columns') # 結果是column (apply a lambda) axis = 1

Utah      1.117559
Ohio      0.655772
Texas     1.871574
Oregon    0.854655
dtype: float64

In [ ]:
frame

               b         d         e
Utah    0.987992  0.317681 -0.129566
Ohio   -0.815257 -0.159485 -0.254120
Texas   1.209640 -0.661934  0.720244
Oregon  0.632867 -0.221788 -0.052001

In [ ]:
# returning a Series with multiple values

def f(x):

    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f) # axis=0, apply to a column
# Each Series returned a row with index index=['min', 'max'] (apply a function)

            b         d         e
min -0.815257 -0.661934 -0.254120
max  1.209640  0.317681  0.720244

Element-wise Python functions can be used, too. Suppose you wanted to compute a
formatted string from each floating-point value in frame. You can do this with
**applymap**

In [ ]:
format = lambda x: '{:.2f}'.format(x)

In [ ]:
print(frame)
frame.applymap(format) # applymap for Element-wise mapping DataFrame

               b         d         e
Utah    0.422636 -0.891559  0.393438
Ohio   -0.312818 -0.267065  0.152433
Texas   1.980329  0.713504  0.400477
Oregon  1.213986  0.439192  0.058971

            b      d     e
Utah     0.42  -0.89  0.39
Ohio    -0.31  -0.27  0.15
Texas    1.98   0.71  0.40
Oregon   1.21   0.44  0.06

The reason for the name applymap is that Series has a **map** method for applying an
element-wise function

In [ ]:
frame['e'].map(format) # map for Element-wise mapping Series

Utah      0.39
Ohio      0.15
Texas     0.40
Oregon    0.06
Name: e, dtype: object

In [ ]:
# Exercise 1b

# Read scores.csv
dfstud = pd.read_csv('/content/drive/MyDrive/Datascience/scores.csv',index_col=0)

# 請找出各科的最高及最低分

# 請找出各科的最高及最低分之差距

# 請找出各科的平均

# 請找出各同學的平均

In [ ]:
# hint: pd.read_csv

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##  Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan],
                   [0.75, -1.43]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one   two
a  1.40   NaN
b  7.10 -4.50
c   NaN   NaN
d  0.75 -1.43

In [ ]:
df.sum() # axis=0 # axis='rows' 結果是Row

one    9.25
two   -5.93
dtype: float64

In [ ]:
df.sum(axis='columns') # axis=1 結果是column

a    1.40
b    2.60
c    0.00
d   -0.68
dtype: float64

In [ ]:
df.sum(axis='columns', skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.68
dtype: float64

Some methods, like idxmin and idxmax, return indirect statistics like the index value
where the minimum or maximum values are attained

In [ ]:
print(df)

    one   two
a  1.40   NaN
b  7.10 -4.50
c   NaN   NaN
d  0.75 -1.43

In [ ]:
print(df.idxmax()) # axis=0 (row)
print(df.idxmin()) #

one    b
two    d
dtype: object
one    d
two    b
dtype: object

In [ ]:
df

    one   two
a  1.40   NaN
b  7.10 -4.50
c   NaN   NaN
d  0.75 -1.43

In [ ]:
# accmulation
df.cumsum() # same column same datatype

    one   two
a  1.40   NaN
b  8.50 -4.50
c   NaN   NaN
d  9.25 -5.93

Another type of method is neither a reduction nor an accumulation. **describe** is one
such example, producing multiple summary statistics in one shot

In [ ]:
print(df)

    one   two
a  1.40   NaN
b  7.10 -4.50
c   NaN   NaN
d  0.75 -1.43

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     3 non-null      float64
 1   two     2 non-null      float64
dtypes: float64(2)
memory usage: 256.0+ bytes

In [ ]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.965000
std    3.493685  2.170818
min    0.750000 -4.500000
25%    1.075000 -3.732500
50%    1.400000 -2.965000
75%    4.250000 -2.197500
max    7.100000 -1.430000

In [ ]:
# On non-numeric data, describe produces alternative summary statistics:

obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
print(obj)
obj.describe()

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

count     16
unique     3
top        a
freq       8
dtype: object

### Unique Values, Value Counts, and Membership

In [ ]:
# unique - gives you an array of the unique values in a Series

obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [ ]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [ ]:
# value_counts - computes a Series containing value frequencies

pd.value_counts(obj.values, sort=True)

c    3
a    3
b    2
d    1
dtype: int64

In [ ]:
pd.value_counts(obj, sort=True)

c    3
a    3
b    2
d    1
dtype: int64

In [ ]:
obj.values

array(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'], dtype=object)

In [ ]:
# isin - performs a vectorized set membership check and can be useful in filtering a
# dataset down to a subset of values in a Series or column in a DataFrame

obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [ ]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [ ]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [ ]:
# Exercise 3

# Read scores.csv

# 找出學員 'bbb' 的成績  # df.Name=='bbb' -> mask

# 找出除了 'bbb' 學員之外的所有學員的成績 ('bbb' 退學)

# 找出 'aaa', 'bbb', 'ccc' 學員 國文數學兩科 科目成績  | isin(...)

# 數學不及格 ... 是誰

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Exercise 4

# Read scoresToClean.xlsx

# Clean Data 國英數 將 nan 填各科平均 # fillna()

# delete 有 nan 的 rows # dropna()

# df 存檔 => scoresToCleanOut.xlsx

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd

In [ ]:
#####################################################################################################################

In [ ]:
# SettingWithCopyWarning

# Read scoresToClean.xlsx
dfscore = pd.read_excel('/content/drive/MyDrive/Datascience/scoresToClean.xlsx',index_col=0)
print(dfscore)
print('---------------')
# Clean Data 國英數 na 填平均
dfscore[['Chi','Eng','Math']].fillna(dfscore[['Chi','Eng','Math']].mean(), inplace=True) # setting to a copy, not the original df
# Chained Assignment:dfscore[['Chi','Eng','Math']]第一次链式操作是为了 Get，返回一个 DataFrame；fillna()第二次链式操作是为了 Set，是在这个新返回的 DataFrame 上运行的，并没有修改原始的 DataFrame。
dfscore

  Name   Class  Gender  Chi    Eng   Math    Max   Min    Avg    Sum  Rank  \
0  aaa  CS_101    Male   77  80.00   80.0   80.0  80.0  80.00  240.0   2.0
1  bbb  CS_102    Male   80    NaN  100.0  100.0  80.0  86.67  260.0   1.0
2  ccc  CS_101  Female   60  50.00   75.0   75.0  50.0  61.67  185.0   5.0
3  ddd  CS_102  Female   80    NaN   77.0   80.0  70.0  76.67  230.0   3.0
4  eee  CS_101  Female   80  80.00   88.0   80.0  50.0  70.00  210.0   4.0
5  fff  CS_102  Female   80  80.00   50.0   80.0  50.0  70.00  210.0   4.0
6  NaN     NaN     NaN   38  40.00   43.0    NaN   NaN    NaN    NaN   NaN
7  NaN     NaN     NaN   76  73.33   72.5    NaN   NaN    NaN    NaN   NaN
8  NaN     NaN     NaN   80  80.00  100.0    NaN   NaN    NaN    NaN   NaN
9  NaN     NaN     NaN   60  50.00   50.0    NaN   NaN    NaN    NaN   NaN

   Good Grade
0  Good     B
1  Good     B
2    OK     D
3  Good     C
4    OK     C
5    OK     C
6   NaN   NaN
7   NaN   NaN
8   NaN   NaN
9   NaN   NaN
---------------

<ipython-input-11-9eff805df8e4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfscore[['Chi','Eng','Math']].fillna(dfscore[['Chi','Eng','Math']].mean(), inplace=True)

,Name,Class,Gender,Chi,Eng,Math,Max,Min,Avg,Sum,Rank,Good,Grade
0,aaa,CS_101,Male,77,80.00,80.0,80.0,80.0,80.00,240.0,2.0,Good,B
1,bbb,CS_102,Male,80,NaN,100.0,100.0,80.0,86.67,260.0,1.0,Good,B
2,ccc,CS_101,Female,60,50.00,75.0,75.0,50.0,61.67,185.0,5.0,OK,D
3,ddd,CS_102,Female,80,NaN,77.0,80.0,70.0,76.67,230.0,3.0,Good,C
4,eee,CS_101,Female,80,80.00,88.0,80.0,50.0,70.00,210.0,4.0,OK,C
5,fff,CS_102,Female,80,80.00,50.0,80.0,50.0,70.00,210.0,4.0,OK,C
6,NaN,NaN,NaN,38,40.00,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,76,73.33,72.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,80,80.00,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,60,50.00,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#####################################################################################################################

In [ ]:
# To avoid SettingWithCopy

# Read scoresToClean.xlsx
dfscore =pd.read_excel('/content/drive/MyDrive/Datascience/scoresToClean.xlsx',index_col=0)
print(dfscore)
print('---------------')
# Clean Data 國英數 na 填平均
dfscore[['Chi','Eng','Math']] = dfscore[['Chi','Eng','Math']].fillna(dfscore[['Chi','Eng','Math']].mean())
dfscore # setting to the original df

  Name   Class  Gender  Chi    Eng   Math    Max   Min    Avg    Sum  Rank  \
0  aaa  CS_101    Male   77  80.00   80.0   80.0  80.0  80.00  240.0   2.0
1  bbb  CS_102    Male   80    NaN  100.0  100.0  80.0  86.67  260.0   1.0
2  ccc  CS_101  Female   60  50.00   75.0   75.0  50.0  61.67  185.0   5.0
3  ddd  CS_102  Female   80    NaN   77.0   80.0  70.0  76.67  230.0   3.0
4  eee  CS_101  Female   80  80.00   88.0   80.0  50.0  70.00  210.0   4.0
5  fff  CS_102  Female   80  80.00   50.0   80.0  50.0  70.00  210.0   4.0
6  NaN     NaN     NaN   38  40.00   43.0    NaN   NaN    NaN    NaN   NaN
7  NaN     NaN     NaN   76  73.33   72.5    NaN   NaN    NaN    NaN   NaN
8  NaN     NaN     NaN   80  80.00  100.0    NaN   NaN    NaN    NaN   NaN
9  NaN     NaN     NaN   60  50.00   50.0    NaN   NaN    NaN    NaN   NaN

   Good Grade
0  Good     B
1  Good     B
2    OK     D
3  Good     C
4    OK     C
5    OK     C
6   NaN   NaN
7   NaN   NaN
8   NaN   NaN
9   NaN   NaN
---------------

,Name,Class,Gender,Chi,Eng,Math,Max,Min,Avg,Sum,Rank,Good,Grade
0,aaa,CS_101,Male,77,80.00000,80.0,80.0,80.0,80.00,240.0,2.0,Good,B
1,bbb,CS_102,Male,80,66.66625,100.0,100.0,80.0,86.67,260.0,1.0,Good,B
2,ccc,CS_101,Female,60,50.00000,75.0,75.0,50.0,61.67,185.0,5.0,OK,D
3,ddd,CS_102,Female,80,66.66625,77.0,80.0,70.0,76.67,230.0,3.0,Good,C
4,eee,CS_101,Female,80,80.00000,88.0,80.0,50.0,70.00,210.0,4.0,OK,C
5,fff,CS_102,Female,80,80.00000,50.0,80.0,50.0,70.00,210.0,4.0,OK,C
6,NaN,NaN,NaN,38,40.00000,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,76,73.33000,72.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,80,80.00000,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,60,50.00000,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#####################################################################################################################

In [ ]:
import numpy as np
df2 = dfscore[['Chi','Eng','Math']] # a copy
df2['Chi'] = np.nan
print(df2)
print(dfscore) # SettingWithCopyWarning # Chained Assignment:dfscore['Chi']第一次链式操作是为了 Get，返回一个 DataFrame；df2['Chi'] = np.nan 第二次链式操作是为了 Set，是在这个新返回的 df2 上运行的，并没有修改原始的 dfscore。

   Chi       Eng   Math
0  NaN  80.00000   80.0
1  NaN  66.66625  100.0
2  NaN  50.00000   75.0
3  NaN  66.66625   77.0
4  NaN  80.00000   88.0
5  NaN  80.00000   50.0
6  NaN  40.00000   43.0
7  NaN  73.33000   72.5
8  NaN  80.00000  100.0
9  NaN  50.00000   50.0
  Name   Class  Gender  Chi       Eng   Math    Max   Min    Avg    Sum  Rank  \
0  aaa  CS_101    Male   77  80.00000   80.0   80.0  80.0  80.00  240.0   2.0
1  bbb  CS_102    Male   80  66.66625  100.0  100.0  80.0  86.67  260.0   1.0
2  ccc  CS_101  Female   60  50.00000   75.0   75.0  50.0  61.67  185.0   5.0
3  ddd  CS_102  Female   80  66.66625   77.0   80.0  70.0  76.67  230.0   3.0
4  eee  CS_101  Female   80  80.00000   88.0   80.0  50.0  70.00  210.0   4.0
5  fff  CS_102  Female   80  80.00000   50.0   80.0  50.0  70.00  210.0   4.0
6  NaN     NaN     NaN   38  40.00000   43.0    NaN   NaN    NaN    NaN   NaN
7  NaN     NaN     NaN   76  73.33000   72.5    NaN   NaN    NaN    NaN   NaN
8  NaN     NaN     NaN   80  80.00000  100.0    NaN   NaN    NaN    NaN   NaN
9  NaN     NaN     NaN   60  50.00000   50.0    NaN   NaN    NaN    NaN   NaN

   Good Grade
0  Good     B
1  Good     B
2    OK     D
3  Good     C
4    OK     C
5    OK     C
6   NaN   NaN
7   NaN   NaN
8   NaN   NaN
9   NaN   NaN

<ipython-input-8-4ac5661550b0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Chi'] = np.nan

In [ ]:
df2 = dfscore[['Chi','Eng','Math']].copy()
df2['Chi'] = np.nan
print(df2)
print(dfscore)

   Chi       Eng   Math
0  NaN  80.00000   80.0
1  NaN  66.66625  100.0
2  NaN  50.00000   75.0
3  NaN  66.66625   77.0
4  NaN  80.00000   88.0
5  NaN  80.00000   50.0
6  NaN  40.00000   43.0
7  NaN  73.33000   72.5
8  NaN  80.00000  100.0
9  NaN  50.00000   50.0
  Name   Class  Gender  Chi       Eng   Math    Max   Min    Avg    Sum  Rank  \
0  aaa  CS_101    Male   77  80.00000   80.0   80.0  80.0  80.00  240.0   2.0
1  bbb  CS_102    Male   80  66.66625  100.0  100.0  80.0  86.67  260.0   1.0
2  ccc  CS_101  Female   60  50.00000   75.0   75.0  50.0  61.67  185.0   5.0
3  ddd  CS_102  Female   80  66.66625   77.0   80.0  70.0  76.67  230.0   3.0
4  eee  CS_101  Female   80  80.00000   88.0   80.0  50.0  70.00  210.0   4.0
5  fff  CS_102  Female   80  80.00000   50.0   80.0  50.0  70.00  210.0   4.0
6  NaN     NaN     NaN   38  40.00000   43.0    NaN   NaN    NaN    NaN   NaN
7  NaN     NaN     NaN   76  73.33000   72.5    NaN   NaN    NaN    NaN   NaN
8  NaN     NaN     NaN   80  80.00000  100.0    NaN   NaN    NaN    NaN   NaN
9  NaN     NaN     NaN   60  50.00000   50.0    NaN   NaN    NaN    NaN   NaN

   Good Grade
0  Good     B
1  Good     B
2    OK     D
3  Good     C
4    OK     C
5    OK     C
6   NaN   NaN
7   NaN   NaN
8   NaN   NaN
9   NaN   NaN

In [ ]:
# https://zhuanlan.zhihu.com/p/41202576